aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
apikey==0.2.4
arrow==1.2.3
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.3
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==2.3.0
et-xmlfile==1.1.0
Flask==2.2.5
Flask-Cors==4.0.0
Flask-Mail==0.9.1
frozenlist==1.4.1
google==3.0.0
google-api-core==2.14.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.61.0
gunicorn==21.2.0
httplib2==0.22.0
idna==3.4
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
jsonschema-specifications==0.1.3
MarkupSafe==2.1.3
multidict==6.0.4
oauthlib==3.2.2
openai==0.28.0
openapi==1.1.0
openpyxl==3.1.2
packaging==23.2
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyJWT==2.7.0
pymongo==4.6.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv
pytz==2023.3.post1
referencing
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
setuptools==69.5.1
six==1.16.0
soupsieve>=2.4.1
tqdm==4.66.1
twilio==8.10.3
types-python-dateutil==2.8.19.14
uritemplate==3.0.1
urllib3==1.26.16
wheel==0.43.0
Werkzeug==2.0.1
yarl==1.9.4



